/* .user-card {
  text-align: center;
} */

section{
  margin-block: 1.5em;
}
.place-holder-img {
  height: 230px;
  border-radius: 50%;
}
p{
  display: inline;
  margin-inline: 10px;
}

.pr-skills>p{
  float: left;
  color: white;
  text-align: center;
  min-width: 40px;
  padding: 0.1em 1em;
  border-radius: .5em;
  font-weight: bold;
  font-size: large;
  background-color: #61dafb;
}
.tiny-img{
  width: 20px;
  aspect-ratio: 1;
  margin-left: 5px;
}
.DOJ{
  clear: both;
}
.App-link {
  color: #61dafb;
}
